<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">

                    <h1>Sign Up</h1>
                    <h6>Register Yourself</h6>
                </div>
                <form>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control">
                            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*FullName is required</span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mobile Number</label>
                            <input formControlName="mobile" type="number" class="form-control">
                            <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','email')">*MobileNumber is required</span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input formControlName="email" type="email" class="form-control">
                            <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email Id is required</span>

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control">
                            <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*password is required</span>
                        </div>
                        <div style="text-align: center;">
                            <button [disabled]="!signupForm.valid" type="submit" class="btn btn-primary">Sign up</button>
                        </div>
                    </form>
                    <a style="color:white; margin-top: 10px;" routerLink="/login">Already Register? Click to Login !!</a>
                </form>

            </div>

        </div>

    </div>
</div>


























<!-- <div class="container-fluid">
    <form>
        <h2>Registration Form</h2>
        <form [formGroup]="registrationForm">
           
            {{registrationForm.value | json}}

            <div class="form-group">
                <label>Username</label>
                <input formControlName="userName" type="text" class="form-control">
               
            </div>
            <div class="form-group">
                <label>Password</label>
                <input formControlName="password" type="password" class="form-control">
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control">
            </div>
            <br>
            <input type="reset" value="Reset" class="btn btn-danger" />
        </form>

        <form [formGroup]="address">
            <h2>Address</h2>
            {{address.value| json}}
            <div class="form-group">
                <label>City</label>
                <input formControlName="city" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>State</label>
                <input formControlName="state" type="text" class="form-control">
            </div>


            <div class="form-group">
                <label>Postal Code</label>
                <input formControlName="postalCode" type="text" class="form-control">
            </div>

            <br>
            <button class="btn btn-primary" type="submit">Register</button>
            <button (click)="loadData()" class="btn btn-secondary" type="button">Load Data</button>
            <input type="reset" value="Reset" class="btn btn-danger" />
        </form>
    </form>

</div> -->