<nav class="navbar navbar-light bg-primary">
    <div class="continer-fluid">
        <h2 style="color:whitesmoke">Employee Dashboard
            <button (click)="clickAddEmployee()" type="button" class="btn btn-success mx-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
            <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
        </h2>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile</th>
            <th scope="col">Salary</th>
            <th scope="col">DOJ</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            <td>{{row.doj}}</td>
            <!-- <td>1</td>
            <td>Nawinkrishna</td>
            <td>AS</td>
            <td>Nawinkrishna.as@legato.com</td>
            <td>6568</td>
            <td>425000</td>
            <td>18th-July-2022</td> -->
            <td>
                <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" formControlName="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input type="text" formControlName="mobile" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Salary</label>
                        <input type="text" formControlName="salary" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">DOJ</label>
                        <input type="text" formControlName="doj" class="form-control">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">ADD</button>
                <button type="button" *ngIf="showUpadte" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>

            </div>
        </div>
    </div>
</div>